
<div class="container container-frame">
	<div class="header">
		<div class="container text-center">
			<div class="col-md-3 header-image">
				<img src="resources/img/satmeyJayate.jpg">
			</div>
			<div class="col-md-9">
				<h1>PASSPORT APPLICATION FORM</h1>
				<h4>Government of India, Ministry of External Affairs</h4>
				<p>Please read the Passport Instruction Booklet carefully before filling the form. Furnishing of incorrect information/
suppression of information would lead to rejection of application and would attract penal provisions as prescribed
under the Passports Act, 1967. Please produce your original documents at the time of submission of the form. All fields
marked with (*) are mandatory to fill.</p>
			</div>

		</div>
	</div>
	<div class="main-form">
		<form>
			<div class="form-group">
				<label for="exampleInputEmail1">Email address</label> <input
					type="email" class="form-control" id="exampleInputEmail1"
					placeholder="Email">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label> <input
					type="password" class="form-control" id="exampleInputPassword1"
					placeholder="Password">
			</div>
			<div class="form-group">
				<label for="exampleInputFile">File input</label> <input type="file"
					id="exampleInputFile">
				<p class="help-block">Example block-level help text here.</p>
			</div>
			<div class="checkbox">
				<label> <input type="checkbox"> Check me out
				</label>
			</div>	
			
		</form>
	</div>
	
	
			   
	</div>	
	
	</div>

</div>
<!-- /.container -->